.waveform-container {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.waveform-canvas {
  width: 100%;
  height: 100%;
}

.waveform-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: red;
  pointer-events: none;
}
