.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}

/* Container for Webamp and FETS */
.leftContainer {
  display: flex;
  align-items: flex-start;
  gap: 13px;
}

.webampText {
  color: #17e1ff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  transform: translateY(7px);
  padding-left: 10px;
}

/* File/Edit/Tools/Settings container */
.FETS-container {
  display: flex;
  position: relative;
}

/* File and Edit buttons styling */
.dropdown-btn {
  background: #262529;
  color: #e5e5e5;
  padding: 5px 16px 6px 16px;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 38px;
  font-size: 16px;
}

.dropdown-btn:hover {
  background-color: #333239;
}

/* Tools button styling */
.dropdown-btn-tools {
  background: #262529;
  color: #e5e5e5;
  padding: 5px 16px 6px 16px;
  border: none;
  cursor: pointer;
  width: 70px;
  height: 38px;
  font-size: 16px;
}

.dropdown-btn-tools:hover {
  background-color: #333239;
}

/* Settings button styling */
.dropdown-btn-settings {
  background: #262529;
  color: #e5e5e5;
  padding: 5px 16px 6px 16px;
  border: none;
  cursor: pointer;
  width: 90px;
  height: 38px;
  font-size: 16px;
}

.dropdown-btn-settings:hover {
  background-color: #333239;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 9999;
}

/* Base dropdown content styling */
.dropdown-content {
  position: absolute;
  background: #262529;
  z-index: 10000;
  border: 2px solid #333239;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: visible;
}

/* File dropdown */
.dropdown-content-file {
  width: 200px;
  height: 215px;
}

/* Edit dropdown */
.dropdown-content-edit {
  width: 180px;
  height: 262px;
}

/* Tools dropdown */
.dropdown-content-tools {
  width: 160px;
  height: 129px;
}

/* Settings dropdown */
.dropdown-content-settings {
  width: 220px;
  height: 171px;
}

/* Dropdown menu text */
.dropdown-content a {
  color: #e5e5e5;
  padding: 12px 16px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: block;
  font-size: 14px;
  cursor: pointer;
  background-color: #262529; /* Explicitly set background color */
}

.dropdown-content a:hover {
  background-color: #333239;
}

/* Active state for buttons when dropdown is open */
.dropdown-btn.active,
.dropdown-btn-tools.active,
.dropdown-btn-settings.active {
  background-color: #333239;
}

/* Guest Button Styling */
.dropdown-btn-guest {
  margin-right: 10px;
  background: #262529;
  color: #e5e5e5;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
  /* height: 30px; */
  font-size: 16px;
  display: flex;
  gap: 8px;
  border-radius: 4px;
}

.dropdown-btn-guest:hover {
  background-color: #333239;
}

.dropdown-btn-guest.active {
  background-color: #333239;
}

.dropdown-content-guest {
  width: 111px;
}
