/* General Reset and Base Styling */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
}

/* Header specific styling */
.header {
  background-color: #262529;
  position: relative;
  z-index: 9999;
  overflow: visible;
  border-bottom: 2px solid #343239;
  /* border-top: 1px solid black; */
}

/* Main application container, uses CSS Grid for overall layout */
.app-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 1fr 40px; 
}

/* Ensure other sections have lower z-index */

.blue {
  background-color: #4da6ff;
  z-index: 1; /* Lower than header */
}

.purple {
  background-color: #a366ff;
  overflow: auto;
  z-index: 1; /* Lower than header */
}

.lime {
  background-color: #99ff4d;
  z-index: 1; /* Lower than header */
}

/* Base styling applied to all major section components */
.section {
  padding: 10px;
  box-sizing: border-box;
  color: white;
  border: 1px solid black;
}

/* --- Main Content Area Styling (The Core Grid) --- */
.main-content-area {
  display: grid;
  grid-template-columns: var(--sidebar-width) 5px 1fr;
  height: 100%;
  position: relative;
  z-index: 1; /* Ensure main content is below header */
}

/* --- Movable Divider Styling --- */
.divider {
  cursor: ew-resize;
  width: 5px;
  background-color: black;
  height: 100%;
}

.sidebar-container {
  overflow-y: auto;
}
